# transformers 
# huggingface-hub 
# nltk 
# gradio 
# pandas 

gradio==4.43.0
# fastapi==0.112.4	
gradio-client==1.3.0
pydantic==2.9.0
pydantic-core==2.23.2
transformers
huggingface_hub
nltk

# transformers==4.44.0
# huggingface_hub==0.24.5
# nltk==3.8.1
# gradio==4.36.1


